+title_section("Resume" , "My CV")
.row
  div(class="col-xl-8 col-12")
    div(class="education compontent_margin_bottom_large")
      .row
        .col-12
          h4(class="compontent_margin_bottom_normal d-inline-block title_line") Education
      div(class="row compontent_margin_bottom_small") 
        div(class="col-md-3 col-4")
          div(class="text-right title_education")
            h6 2018 
            span(class="main_color_dark3") Online Self-Learning
        div(class="col-md-9 col-8 pl-0") 
          .details_education
            h6 UX Development
            p(class="main_color_dark3") I learned Web Design &amp; Web Development Fundamentals
      div(class="row compontent_margin_bottom_small")
        div(class="col-md-3 col-4")
          div(class="text-right title_education")
            h6 2019 
            span(class="main_color_dark3") Online Self-Learning
        div(class="col-md-9 col-8 pl-0") 
          .details_education
            h6 Full Stack Web Development
            p(class="main_color_dark3") I leaned some frameworks for adding dynamic features to the website
      div(class="row compontent_margin_bottom_small")
        div(class="col-md-3 col-4")
          div(class="text-right title_education")
            h6 2019 
            span(class="main_color_dark3") Damanhour University
        div(class="col-md-9 col-8 pl-0") 
          .details_education
            h6 Faculty of Ecommerce
            p(class="main_color_dark3") Bachelor
    div(class="experience compontent_margin_bottom_large")
      .row
        .col-12
          h4(class="compontent_margin_bottom_normal d-inline-block title_line") Experience
      .row
        div(class="col-md-3 col-4 pl-0")
          div(class="text-right title_experience")
            span(class="main_color_dark3") [ 6 months ]
              h6(class="d-inline-block") 2016 
            span(class="main_color_dark3 d-block") Freelancer
        div(class="col-md-9 col-8 pl-0") 
          .details_experience
            h6 UX Developer
            p(class="main_color_dark3") On Handling common HTML and CSS problems [ Designs &amp; Responsives ]
    div(class="experience compontent_margin_bottom_large")
      .row
        .col-12
          h4(class="compontent_margin_bottom_normal d-inline-block title_line") Languages
      .row
        .col-2
            h6 English 
        .col-10 
            p(class="main_color_dark3") B2
      .row
        .col-2
            h6 Arabic 
        .col-10 
            p(class="main_color_dark3") Mother
    .download_resume
      div(class="row compontent_margin_bottom_large")
        .col-12
          button(class="button_style") 
            a(href="https://srv-file2.gofile.io/download/ztvYg3/60421b0e014cfb2e9f0f7575e94e15c2/KARIM-EL-MELAYATI-CV.pdf") Download CV

  // Skills 
  div(class="col-xl-4 col-12")
    // Development Skills
    div(class="development_skills compontent_margin_bottom_large")
      .development_skills_title
        h4(class="compontent_margin_bottom_small d-inline-block title_line") Development Skills
      .row
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") Javascript / ES6
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 75%;" 
              aria-valuenow="75" 
              aria-valuemin="0" 
              aria-valuemax="100") 75%
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") React JS
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 75%;" 
              aria-valuenow="75" 
              aria-valuemin="0" 
              aria-valuemax="100") 75%
      .row
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") PHP
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 80%;" 
              aria-valuenow="80" 
              aria-valuemin="0" 
              aria-valuemax="100") 80%
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") Laravel
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 80%;" 
              aria-valuenow="80" 
              aria-valuemin="0" 
              aria-valuemax="100") 80%
      .row
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") jQuery
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 80%;" 
              aria-valuenow="80" 
              aria-valuemin="0" 
              aria-valuemax="100") 80%      
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") SASS / PUG
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 80%;" 
              aria-valuenow="80" 
              aria-valuemin="0" 
              aria-valuemax="100") 80%
      .row
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") HTML5 / CSS3
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 90%;" 
              aria-valuenow="90" 
              aria-valuemin="0" 
              aria-valuemax="100") 90%
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") Bootstrap
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 90%;" 
              aria-valuenow="90" 
              aria-valuemin="0" 
              aria-valuemax="100") 90%    
      .row
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") Web Responsive
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 90%;" 
              aria-valuenow="90" 
              aria-valuemin="0" 
              aria-valuemax="100") 90%

    // Design Skills 
    .design_skills
      .design_skills_title
        h4(class="compontent_margin_bottom_small d-inline-block title_line") Design Skills 
      .row
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") Web Design 
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 75%;" 
              aria-valuenow="75" 
              aria-valuemin="0" 
              aria-valuemax="100") 75%
          
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") Illustrator 
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 70%;" 
              aria-valuenow="70" 
              aria-valuemin="0" 
              aria-valuemax="100") 70% 
        
      .row  
        div(class="compontent_margin_bottom_small col-xl-12 col-md-6 col-12")
          h6(class="main_color_dark2") Photoshop 
          div(class="progress")
            div(
              class="progress-bar" 
              role="progressbar" 
              style="width: 70%;" 
              aria-valuenow="70" 
              aria-valuemin="0" 
              aria-valuemax="100") 70% 
